body {
    font-family: Arial, sans-serif;
    text-align: center;
}
button {
    background: rgb(149, 182, 230);
    color: rgb(0, 0, 0);
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
